.loadMoreButton {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border: 0;

  color: var(--highlight);
  background: transparent;

  font-size: 1.2rem;
  font-weight: 600;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.7);
  }
}