.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {

  a {
    display: block;

    & + a {
      margin-top: 2.5rem;
      padding-top: 2.5rem;
      border-top: 1px solid var(--gray-700);
    }
  }
  

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  p {
    color: var(--body);
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 0.5rem;
  }

  .postInfo {
    display: flex;
    font-size: 0.9rem;
    line-height: 1rem;
    color: var(--info);
    
    span {
      margin-right: 1.5rem;
    }
  
  }
}

.marginRight {
  margin-right: 0.5rem;
}

.endSpace {
  margin-bottom: 5rem;
}